 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="hour" class="text-light">Hours</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="hour" value="1hr" >
                <label for="radio-2" class="radio-label">1hr</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="hour" value="2hr" >
                <label for="radio-3" class="radio-label">2hr</label>
            </div>
        </div>

        <div class="form-group">
            <label for="mode" class="text-light">Mode of Attendance</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="mode" value="Online" >
                <label for="radio-4" class="radio-label">Online</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="mode" value="Offline" >
                <label for="radio-5" class="radio-label">Offline</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>